<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 26+11+10+12 %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, et
      consectetur qui totam sequi ipsum assumenda commodi, veritatis velit modi
      magni iste quia molestias, deleniti rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga
      quos incidunt quibusdam repellat, illum possimus, aspernatur dolores
      perspiciatis quam eius consectetur praesentium?
    </p>
  </body>
</html>
